-- ============================================================
-- 1. CREACIÓN Y SELECCIÓN DE LA BASE DE DATOS
-- ============================================================
DROP DATABASE IF EXISTS PAT2;
CREATE DATABASE PAT2 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
USE PAT2;

-- ============================================================
-- 2. TABLAS MAESTRAS O BÁSICAS (Sin Llaves Foráneas)
-- ============================================================

-- Tabla de Roles del sistema
CREATE TABLE rol (
  id_rol INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(50) NOT NULL UNIQUE,
  descripcion TEXT DEFAULT NULL
);

-- Tabla de Continentes
CREATE TABLE continente (
  id_conti INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(50) NOT NULL UNIQUE
);

-- Tabla de Tipos de Turismo
CREATE TABLE tp_turismo (
  id_tp_turi INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL UNIQUE,
  descripcion TEXT DEFAULT NULL
);

-- Tabla de Tipos de Servicio (Hospedaje, Transporte, Gastronomía, etc.)
CREATE TABLE tp_servicio (
  id_tp_serv INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(80) NOT NULL UNIQUE,
  descripcion TEXT DEFAULT NULL
);

-- Tabla de Gamas de Servicio (Económica, Media, Lujo, etc.)
CREATE TABLE gama (
  id_gama INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(50) NOT NULL,
  descripcion TEXT DEFAULT NULL
);

-- Tabla de Métodos de Pago
CREATE TABLE metodo_pago (
  id_met_pago INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(80) NOT NULL,
  descripcion TEXT DEFAULT NULL
);

-- Tabla de Políticas
CREATE TABLE politica (
  id_poli INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(150) NOT NULL,
  descripcion TEXT NOT NULL,
  estado ENUM('ACTIVA', 'INACTIVA') DEFAULT 'ACTIVA'
);


-- ============================================================
-- 3. UBICACIÓN GEOGRÁFICA (Países, Departamentos, Ciudades, Ubicaciones)
-- ============================================================

-- Tabla de Países
CREATE TABLE pais (
  id_pais INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL UNIQUE,
  id_conti INT NOT NULL,
  CONSTRAINT fk_pais_continente FOREIGN KEY (id_conti) REFERENCES continente (id_conti)
);

-- Tabla de Departamentos
CREATE TABLE departamento (
  id_depart INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL,
  id_pais INT NOT NULL,
  CONSTRAINT fk_departamento_pais FOREIGN KEY (id_pais) REFERENCES pais (id_pais)
);

-- Tabla de Ciudades
CREATE TABLE ciudad (
  id_cdad INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL,
  id_depart INT NOT NULL,
  CONSTRAINT fk_ciudad_departamento FOREIGN KEY (id_depart) REFERENCES departamento (id_depart)
);

-- Tabla de Ubicaciones específicas
CREATE TABLE ubicacion (
  id_ubi INT AUTO_INCREMENT PRIMARY KEY,
  direccion VARCHAR(255) NOT NULL,
  barrio VARCHAR(100) DEFAULT NULL,
  codigo_postal VARCHAR(15) DEFAULT NULL,
  latitud DECIMAL(10,8) NOT NULL,
  longitud DECIMAL(11,8) NOT NULL,
  descripcion TEXT DEFAULT NULL,
  id_cdad INT NOT NULL,
  activo TINYINT(1) DEFAULT 1,
  CONSTRAINT fk_ubicacion_ciudad FOREIGN KEY (id_cdad) REFERENCES ciudad (id_cdad)
);


-- ============================================================
-- 4. USUARIOS, SOLICITUDES Y PROVEEDORES
-- ============================================================

-- Tabla de Usuarios
CREATE TABLE usuario (
  id_usu INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL,
  apellido VARCHAR(100) NOT NULL,
  email VARCHAR(150) NOT NULL UNIQUE,
  password_hash VARCHAR(255) NOT NULL,
  id_rol INT NOT NULL DEFAULT 1,
  activo TINYINT(1) DEFAULT 1,
  token_recuperacion VARCHAR(255) DEFAULT NULL,
  token_expiracion DATETIME DEFAULT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_usuario_rol FOREIGN KEY (id_rol) REFERENCES rol (id_rol)
);

-- Tabla de Solicitud para ser Proveedor
CREATE TABLE solicitud_proveedor (
  id_sp INT AUTO_INCREMENT PRIMARY KEY,
  id_usu INT NOT NULL,
  nit VARCHAR(20) NOT NULL UNIQUE,
  razon_social VARCHAR(150) NOT NULL,
  telefono_contacto VARCHAR(20) NOT NULL,
  cuenta_bancaria VARCHAR(50) NOT NULL,
  banco VARCHAR(50) NOT NULL,
  estado ENUM('EN_REVISION', 'APROBADA', 'RECHAZADA') DEFAULT 'EN_REVISION',
  fecha_solicitud DATETIME DEFAULT CURRENT_TIMESTAMP,
  observaciones TEXT DEFAULT NULL,
  CONSTRAINT fk_solicitud_usuario FOREIGN KEY (id_usu) REFERENCES usuario (id_usu)
);

-- Tabla Intermedia: Tipos de servicio que solicita ofrecer un proveedor
CREATE TABLE solicitud_tp_servicio (
  id_sol_serv INT AUTO_INCREMENT PRIMARY KEY,
  id_sp INT NOT NULL,
  id_tp_serv INT NOT NULL,
  CONSTRAINT fk_sol_serv_sp FOREIGN KEY (id_sp) REFERENCES solicitud_proveedor (id_sp) ON DELETE CASCADE,
  CONSTRAINT fk_sol_serv_tp FOREIGN KEY (id_tp_serv) REFERENCES tp_servicio (id_tp_serv)
);

-- Tabla de Proveedores Aprobados
CREATE TABLE proveedor (
  id_prov INT AUTO_INCREMENT PRIMARY KEY,
  id_usu INT NOT NULL UNIQUE,
  id_sp INT NOT NULL UNIQUE,
  estado ENUM('ACTIVO', 'INACTIVO', 'SUSPENDIDO') DEFAULT 'ACTIVO',
  fecha_registro DATETIME DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_proveedor_usuario FOREIGN KEY (id_usu) REFERENCES usuario (id_usu),
  CONSTRAINT fk_proveedor_solicitud FOREIGN KEY (id_sp) REFERENCES solicitud_proveedor (id_sp)
);

-- Tabla Intermedia: Servicios que ofrece un proveedor activo
CREATE TABLE proveedor_tp_servicio (
  id_prov_serv INT AUTO_INCREMENT PRIMARY KEY,
  id_prov INT NOT NULL,
  id_tp_serv INT NOT NULL,
  CONSTRAINT fk_prov_serv_prov FOREIGN KEY (id_prov) REFERENCES proveedor (id_prov) ON DELETE CASCADE,
  CONSTRAINT fk_prov_serv_tp FOREIGN KEY (id_tp_serv) REFERENCES tp_servicio (id_tp_serv)
);

-- Tabla de Documentos adjuntos por usuario/solicitud
CREATE TABLE documentos (
  id_doc INT AUTO_INCREMENT PRIMARY KEY,
  id_usu INT NOT NULL,
  id_sp INT DEFAULT NULL,
  tipo_doc VARCHAR(100) NOT NULL,
  nom_archivo VARCHAR(255) NOT NULL,
  ruta_archivo VARCHAR(500) NOT NULL,
  fecha_carga DATETIME DEFAULT CURRENT_TIMESTAMP,
  estado ENUM('PENDIENTE', 'APROBADO', 'RECHAZADO') DEFAULT 'PENDIENTE',
  CONSTRAINT fk_documentos_usuario FOREIGN KEY (id_usu) REFERENCES usuario (id_usu) ON DELETE CASCADE,
  CONSTRAINT fk_documentos_solicitud FOREIGN KEY (id_sp) REFERENCES solicitud_proveedor (id_sp)
);


-- ============================================================
-- 5. SERVICIOS Y SUS CONDICIONES
-- ============================================================

-- Tabla Principal de Servicios
CREATE TABLE servicio (
  id_servicio INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(150) NOT NULL,
  descripcion TEXT NOT NULL,
  id_tp_serv INT NOT NULL,
  id_tp_turi INT NOT NULL,
  id_gama INT NOT NULL,
  id_prov INT DEFAULT NULL,
  id_ubi INT NOT NULL,
  disponibilidad TINYINT(1) DEFAULT 1,
  activo TINYINT(1) DEFAULT 1,
  fecha_creacion DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_servicio_tp_serv FOREIGN KEY (id_tp_serv) REFERENCES tp_servicio (id_tp_serv),
  CONSTRAINT fk_servicio_tp_turi FOREIGN KEY (id_tp_turi) REFERENCES tp_turismo (id_tp_turi),
  CONSTRAINT fk_servicio_gama FOREIGN KEY (id_gama) REFERENCES gama (id_gama),
  CONSTRAINT fk_servicio_proveedor FOREIGN KEY (id_prov) REFERENCES proveedor (id_prov),
  CONSTRAINT fk_servicio_ubicacion FOREIGN KEY (id_ubi) REFERENCES ubicacion (id_ubi)
);

-- Condiciones de Servicio
CREATE TABLE condiciones (
  id_condi INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(150) NOT NULL,
  descripcion TEXT NOT NULL,
  tipo ENUM('CANCELACION', 'RESERVA', 'PAGO', 'USO', 'OTRO') DEFAULT 'OTRO',
  estado ENUM('ACTIVA', 'INACTIVA') DEFAULT 'ACTIVA',
  id_poli INT NOT NULL,
  CONSTRAINT fk_condiciones_politica FOREIGN KEY (id_poli) REFERENCES politica (id_poli)
);

-- Tabla Intermedia: Servicios con sus Condiciones
CREATE TABLE servicio_condicion (
  id_servicio_condi INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  id_condi INT NOT NULL,
  CONSTRAINT uq_servcondi UNIQUE (id_servicio, id_condi),
  CONSTRAINT fk_servcondi_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE,
  CONSTRAINT fk_servcondi_condicion FOREIGN KEY (id_condi) REFERENCES condiciones (id_condi)
);

-- Imágenes asociadas a Servicios
CREATE TABLE servicio_imagen (
  id_img INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  ruta_url VARCHAR(500) NOT NULL,
  tipo_arch VARCHAR(50) NOT NULL,
  es_principal TINYINT(1) DEFAULT 0,
  CONSTRAINT fk_servimg_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE
);


-- ============================================================
-- 6. SUB-TABLAS DE ESPECIALIZACIÓN DE SERVICIOS
-- ============================================================

-- Detalles para Servicios de Hospedaje
CREATE TABLE servicio_hospedaje (
  id_hosp INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  nom_unidad VARCHAR(100) NOT NULL,
  capacidad_personas INT NOT NULL,
  vlr_noche DECIMAL(10,2) NOT NULL,
  horario_checkin VARCHAR(50) DEFAULT NULL,
  horario_checkout VARCHAR(50) DEFAULT NULL,
  CONSTRAINT fk_hosp_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE
);

-- Detalles para Servicios Gastronómicos
CREATE TABLE servicio_gastronomia (
  id_gast INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  nom_platillo_menu VARCHAR(100) NOT NULL,
  porciones INT DEFAULT 1,
  vlr_estimado DECIMAL(10,2) NOT NULL,
  horario_atencion VARCHAR(100) DEFAULT NULL,
  CONSTRAINT fk_gast_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE
);

-- Detalles para Servicios de Guía
CREATE TABLE servicio_guia (
  id_guia INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  nombre_tour VARCHAR(150) NOT NULL,
  vlr_tour DECIMAL(10,2) NOT NULL,
  duracion_horas INT NOT NULL,
  capacidad_grupo INT NOT NULL,
  dificultad ENUM('BAJA', 'MEDIA', 'ALTA') DEFAULT 'MEDIA',
  horario VARCHAR(100) DEFAULT NULL,
  CONSTRAINT fk_guia_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE
);

-- Detalles para Servicios de Recreación
CREATE TABLE servicio_recreacion (
  id_rec INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  nom_actividad VARCHAR(150) NOT NULL,
  duracion VARCHAR(50) DEFAULT NULL,
  horario VARCHAR(100) DEFAULT NULL,
  vlr_persona DECIMAL(10,2) DEFAULT 0.00,
  capacidad INT DEFAULT NULL,
  es_evento_local TINYINT(1) DEFAULT 0,
  CONSTRAINT fk_rec_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE
);

-- Detalles para Servicios de Transporte
CREATE TABLE servicio_transporte (
  id_trans INT AUTO_INCREMENT PRIMARY KEY,
  id_servicio INT NOT NULL,
  tipo_vehiculo VARCHAR(80) NOT NULL,
  capacidad_pasajeros INT NOT NULL,
  vlr_km DECIMAL(10,2) NOT NULL,
  tarifa_base DECIMAL(10,2) NOT NULL,
  horario_servicio VARCHAR(100) DEFAULT NULL,
  es_ruta_programada TINYINT(1) DEFAULT 0,
  id_origen INT DEFAULT NULL,
  id_destino INT DEFAULT NULL,
  fecha_salida DATETIME DEFAULT NULL,
  CONSTRAINT fk_trans_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio) ON DELETE CASCADE,
  CONSTRAINT fk_trans_ori FOREIGN KEY (id_origen) REFERENCES ubicacion (id_ubi),
  CONSTRAINT fk_trans_des FOREIGN KEY (id_destino) REFERENCES ubicacion (id_ubi)
);


-- ============================================================
-- 7. PLAN DE VIAJE, RESEÑAS Y PAGOS
-- ============================================================

-- Plan de Viaje del usuario
CREATE TABLE plan_viaje (
  id_plan_viaje INT AUTO_INCREMENT PRIMARY KEY,
  nombre_plan VARCHAR(100) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE NOT NULL,
  costo_total_estimado DECIMAL(10,2) DEFAULT 0.00,
  estado ENUM('DESEO', 'RESERVADO', 'CANCELADO', 'FINALIZADO') DEFAULT 'DESEO',
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  id_usu INT NOT NULL,
  id_ubicacion_origen INT DEFAULT NULL,
  id_ubicacion_destino INT DEFAULT NULL,
  CONSTRAINT fk_plan_usuario FOREIGN KEY (id_usu) REFERENCES usuario (id_usu),
  CONSTRAINT fk_plan_origen FOREIGN KEY (id_ubicacion_origen) REFERENCES ubicacion (id_ubi),
  CONSTRAINT fk_plan_destino FOREIGN KEY (id_ubicacion_destino) REFERENCES ubicacion (id_ubi)
);

-- Detalle de los ítems del Plan de Viaje
CREATE TABLE det_plan_viaje (
  id_det_plan INT AUTO_INCREMENT PRIMARY KEY,
  id_plan_viaje INT NOT NULL,
  id_servicio INT DEFAULT NULL,
  tipo_item ENUM('HOSPEDAJE', 'GASTRONOMIA', 'RECREACION', 'TRANSPORTE', 'GUIA', 'TRANSPORTE_PROPIO', 'DESTINO_TURISTICO') NOT NULL DEFAULT 'DESTINO_TURISTICO',
  id_item_especifico INT DEFAULT NULL,
  id_ubicacion_origen INT DEFAULT NULL,
  id_ubicacion_destino INT DEFAULT NULL,
  cantidad INT DEFAULT 1,
  fecha_servicio DATE NOT NULL,
  costo_unitario_calculado DECIMAL(10,2) NOT NULL,
  subtotal_calculado DECIMAL(10,2) NOT NULL,
  observaciones VARCHAR(255) DEFAULT NULL,
  tiempo_estimado_min INT DEFAULT 0,
  CONSTRAINT fk_detplan_plan FOREIGN KEY (id_plan_viaje) REFERENCES plan_viaje (id_plan_viaje) ON DELETE CASCADE,
  CONSTRAINT fk_detplan_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio),
  CONSTRAINT fk_detplan_origen FOREIGN KEY (id_ubicacion_origen) REFERENCES ubicacion (id_ubi),
  CONSTRAINT fk_detplan_destino FOREIGN KEY (id_ubicacion_destino) REFERENCES ubicacion (id_ubi)
);

-- Trayectos calculados entre ubicaciones
CREATE TABLE trayecto (
  id_tray INT AUTO_INCREMENT PRIMARY KEY,
  id_origen INT NOT NULL,
  id_destino INT NOT NULL,
  distancia_km DECIMAL(10,2) NOT NULL,
  tiempo_estimado_min INT NOT NULL,
  fecha_calculo DATETIME DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_trayecto_origen FOREIGN KEY (id_origen) REFERENCES ubicacion (id_ubi),
  CONSTRAINT fk_trayecto_destino FOREIGN KEY (id_destino) REFERENCES ubicacion (id_ubi)
);

-- Reseñas de servicios por parte de usuarios
CREATE TABLE resenas (
  id_resena INT AUTO_INCREMENT PRIMARY KEY,
  id_usu INT NOT NULL,
  id_servicio INT NOT NULL,
  clf_general DECIMAL(2,1) NOT NULL CHECK (clf_general BETWEEN 1.0 AND 5.0),
  comentario VARCHAR(1000) DEFAULT NULL,
  fecha_resena DATETIME DEFAULT CURRENT_TIMESTAMP,
  estado ENUM('ACTIVA', 'OCULTA', 'REPORTADA') DEFAULT 'ACTIVA',
  CONSTRAINT uq_resena_usuario_servicio UNIQUE (id_usu, id_servicio),
  CONSTRAINT fk_resena_usuario FOREIGN KEY (id_usu) REFERENCES usuario (id_usu),
  CONSTRAINT fk_resena_servicio FOREIGN KEY (id_servicio) REFERENCES servicio (id_servicio)
);

-- Detalle con criterios específicos de reseñas
CREATE TABLE detalle_resenas (
  id_detalle_resena INT AUTO_INCREMENT PRIMARY KEY,
  id_resena INT NOT NULL,
  criterio VARCHAR(100) NOT NULL,
  calificacion DECIMAL(2,1) NOT NULL CHECK (calificacion BETWEEN 1.0 AND 5.0),
  CONSTRAINT fk_detresena_resena FOREIGN KEY (id_resena) REFERENCES resenas (id_resena) ON DELETE CASCADE
);

-- Pagos de los Planes de Viaje
CREATE TABLE pagos (
  id_pago INT AUTO_INCREMENT PRIMARY KEY,
  id_plan_viaje INT NOT NULL,
  id_met_pago INT NOT NULL,
  valor_total DECIMAL(10,2) NOT NULL,
  estado ENUM('PENDIENTE', 'APROBADO', 'RECHAZADO', 'REEMBOLSADO') DEFAULT 'PENDIENTE',
  referencia_transaccion VARCHAR(100) NOT NULL UNIQUE,
  fecha_pago DATETIME DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_pago_plan FOREIGN KEY (id_plan_viaje) REFERENCES plan_viaje (id_plan_viaje),
  CONSTRAINT fk_pago_metodo FOREIGN KEY (id_met_pago) REFERENCES metodo_pago (id_met_pago)
);

-- Transferencias de pago a Proveedores (Monetización)
CREATE TABLE pago_proveedor (
  id_pago_prov INT AUTO_INCREMENT PRIMARY KEY,
  id_pago INT NOT NULL,
  id_prov INT NOT NULL,
  monto_subtotal DECIMAL(10,2) NOT NULL,
  comision_plataforma DECIMAL(10,2) DEFAULT 0.00,
  monto_neto_proveedor DECIMAL(10,2) NOT NULL,
  estado_transferencia ENUM('PENDIENTE', 'TRANSFERIDO', 'RETENIDO') DEFAULT 'PENDIENTE',
  fecha_transferencia DATETIME DEFAULT NULL,
  CONSTRAINT fk_pagoprov_pago FOREIGN KEY (id_pago) REFERENCES pagos (id_pago) ON DELETE CASCADE,
  CONSTRAINT fk_pagoprov_proveedor FOREIGN KEY (id_prov) REFERENCES proveedor (id_prov)
);